<%- include("partials/header") %>
                
<div class="form-container login-form__container" style="padding: 10rem 25rem">
    <h1>Login To Your Account</h1>
    <form class="ui form login-form" action="/login" method="POST">
        <div class="field">
          <label>User Name</label>
          <input type="text" name="username" placeholder="username">
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" name="password" placeholder="password">
        </div>
        <p>Don't have an account yet? <a href="/register">Sign Up</a></p>
        <div style="display: flex; justify-content: center; align-items: center;">
        <button class="ui button violet" style="border-radius: 25px;" type="submit">Login</button>
      </div>
      </form>
</div>

<%- include("partials/footer") %>
