

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sketch Like a Pro</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type='text/css' href="../../public/assets/style/style.css"> 
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">


    
</head>
<body>
    
    <!-- navbar -->
       <!-- navbar -->
       <nav class="navbar hideonload">
        <div class="hamburger-bar hide-desktop show-tablet">
            <i class="fas fa-bars fa-4x"></i>
          </div>

        
        <div class="navbar-brand-img"><a href="/"><img src="imgs/logo.png" alt="sketch logo" id="logo" class="hide-mobile"></a></div>
      
          <ul class="navbar-links">
              <li class="navbar-close hide-desktop show-tablet" id="exit">
                  <i class="far fa-times-circle fa-4x"></i> 
              </li>
            <li class="nav-item grow"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item grow"><a class="nav-link" href="/about">About</a></li>
            <li class="nav-item grow"><a class="nav-link" href="/galleries">Galleries</a></li>
            <li class="nav-item grow"><a class="nav-link" href="/">Tablet reviews</a></li>
            <li class="nav-item grow"><a class="nav-link" href="/">Sign In</a></li>
            <li class="nav-item grow"><a class="nav-link" href="/">Sign Up</a></li>
          </ul>
        
        </div>
      </nav>

<!-- Header -->