<div class="sign-up-container" id="sign-up-container">

    <div class="sign-up-wrapper">
      <h1 class="sign-up-header">Ready to share your work?</h1>
      <h2 class="sign-up-subheader">Join a great community of digital artist!</h2> 
      <button type="button" class="ui button violet massive btn-sign-up" style="color: white"><a href="/register">SIGN UP</a></button>
      <h2>Have an account already? <a href="/login">Login</a></h2>
    </div>
  
  </div>