<%- include("partials/header") %>



<div class="about-container" id="about"> 

    <div class="about-wrapper">
  
      <div class="about-paragraph">
        <h3 class="about-header">About</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque maxime hic dolorum ratione, quidem      architecto placeat odio esse alias amet ullam soluta, provident animi quos fugit eum aliquam      reprehenderit, modi aliquid libero quisquam! Libero vero, temporibus reiciendis nostrum nemo hic    deleniti repellat delectus et quisquam cum animi aspernatur, dolor veniam incidunt exercitationem.       Impedit blanditiis quaerat quis veniam ad eveniet ipsum quidem id perferendis non magni, sint       voluptate cumque quos fugit!<br><br>
  
              Impedit blanditiis quaerat quis veniam ad eveniet ipsum quidem id perferendis non magni, sint  voluptate cumque quos fugit! Impedit blanditiis quaerat quis veniam ad eveniet ipsum quidem id    perferendis non magni, sint voluptate cumque quos fugit!<br><br>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat exercitationem incidunt    voluptatem autem maiores sequi ipsum deserunt, officia voluptatum beatae rerum dolorem corrupti   id! Adipisci, dicta. Modi dolorum eaque repellat illum ipsam exercitationem repudiandae assumenda    neque et tenetur, a iure?
            </p>
      </div>
  
          <div class="about-img-1"></div>
          <div class="about-img-4 hide-desktop show-tablet"></div>
  
  
      <div class="about-img2-container">
        <img src="imgs/about-img.png" class="about-img2"alt="users"> 
      </div>
      <div class="about-paragraph">
        <h3>Our Users</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque maxime hic dolorum ratione, quidem architecto placet odio esse alias amet ullam soluta, provident animi quos fugit eum aliquam reprehenderit, modi aliquid libero quisquam! Libero vero, temporibus reiciendis nostrum nemo hic deleniti repellat delectus et quisquam cum animi aspernatur, dolor veniam incidunt exercitationem. Impedit blanditiis quaerat quis veniam ad eveniet ipsum quidem id perferendis non magni, sint voluptate cumque quos fugit!br><br><br>
  
          Impedit blanditiis quaerat quis veniam ad eveniet ipsum quidem id perferendis non magni, sint voluptate cumque quos fugit! Impedit blanditiis quaerat quis veniam ad eveniet ipsum quidem id perferendis non magni, sint voluptate cumque quos fugit!<br><br>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat exercitationem incidunt voluptatem autem maiores sequi ipsum deserunt, officia voluptatum beatae rerum dolorem corrupti id! Adipisci, dicta. Modi dolorum eaque repellat illum ipsam exercitationem repudiandae assumenda neque et tenetur, a iure?
        </p>
      </div>
     
      <div class="about-paragraph">
          <h3>Our Community</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque maxime hic dolorum ratione, quidem architecto placeat odio esse alias amet ullam soluta, provident animi quos fugit eum aliquam reprehenderit, modi aliquid libero quisquam! Libero vero, temporibus reiciendis nostrum nemo hic deleniti repellat delectus et quisquam cum animi aspernatur, dolor veniam incidunt exercitationem. Impedit blanditiis quaerat quis veniam ad eveniet ipsum quidem id perferendis non magni, sint voluptate cumque quos fugit!<br><br>       Impedit blanditiis quaerat quis veniam ad eveniet ipsum quidem id perferendis non magni, sint voluptate cumque quos fugit! Impedit blanditiis quaerat quis veniam ad eveniet ipsum quidem id perferendis non magni, sint voluptate cumque quos fugit!<br><br>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat exercitationem incidunt voluptatem autem maiores sequi ipsum deserunt, officia voluptatum beatae rerum dolorem corrupti id! Adipisci, dicta. Modi dolorum eaque repellat illum ipsam exercitationem repudiandae assumenda neque et tenetur, a iure?
        </p>
      </div>
      <div class="community-img-container">
          <img src="imgs/about-img2.png" class="community-img"alt="community">
        </div>
     
      </div>
    </div>
  </div>
  
<%- include("partials/footer") %>
