<%- include("partials/header") %>

  <!-- Header -->
  <section class="front-end-container show-desktop hide-mobile">
   
    <div class="container-image hide-tablet">  
      <div class="row">
          <div class="hide-desktop"></div>
          <div class="liquid-image show-desktop hide-tablet"></div>
        </div>
          <div class="header-container">
                <h1 class="header-primary">Sketch Like a Pro</h1>
                <p class="subheading">A Community for Digital Artists</p>
                <a href="/galleries" class="btn-check">View Our Gallery</a>
          </div>
        </div>
   
      </section>
      
      <main>

      <a href="/galleries"><h1>View Galleries</h1></a>
    
        <div class="slider-container">&nbsp;</div>

        <div class="sign-up-container" id="sign-up-container">

            <div class="sign-up-wrapper">
              <h1 class="sign-up-header">Ready to share your work?</h1>
              <h2 class="sign-up-subheader">Join a great community of digital artist!</h2> 
              <button class="ui primary basic button">SIGN UP</button>
            </div>
      
          </div>
        </main>


<%- include("partials/footer") %>

