<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sketch Like a Pro</title>
    <link rel="stylesheet" href="../style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
</head>
<body>
    
    <!-- navbar -->
        <nav class="navbar hideonload">
            <div class="hamburger-bar hide-desktop show-tablet">
                <i class="fas fa-bars fa-4x"></i>
              </div>

            
            <div class="navbar-brand-img"><a href="#home"><img src="../imgs/logo.png" alt="sketch logo" id="logo" class="hide-mobile"></a></div>
          
              <ul class="navbar-links">
                  <li class="navbar-close hide-desktop show-tablet" id="exit">
                      <i class="far fa-times-circle fa-4x"></i> 
                  </li>
                <li class="nav-item grow"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item grow"><a class="nav-link" href="#about">About</a></li>
                <li class="nav-item grow"><a class="nav-link" href="#gallery">Galleries</a></li>
                <li class="nav-item grow"><a class="nav-link" href="#tablet-container">Tablet reviews</a></li>
                <li class="nav-item grow"><a class="nav-link" href="#sign-up-container">Sign Up</a></li>
              </ul>
            
            </div>
          </nav>
    </header>

    <!-- Header -->
    <section class="front-end-container show-desktop hide-mobile">
   
    <div class="container-image hide-tablet">  
      <div class="row">
          <div class="hide-desktop"></div>
          <div class="liquid-image show-desktop hide-tablet"></div>
        </div>
          <div class="header-container">
                <h1 class="header-primary">Sketch Like a Pro</h1>
                <p class="subheading">A Community for Digital Artists</p>
                <a href="#about"><button type="button" class="btn-check"><img src="../imgs/Down arrow.png"></i></button></a>
          </div>
        </div>
        <div class="header-primary show-tablet hide-desktop show-mobile">
            <h1 class="hide-desktop show-tablet show-mobile">Sketch Like a Pro</h1>
            <p class="hide-desktop show-tablet">A Community for Digital Artists</p>
            <a href="#about" class="hide-desktop show-tablet"><button type="button" class="btn-check"><img src="../imgs/Down arrow.png"></i></button></a>
          </div>  
      </section>
     
        <div class="slider-container">&nbsp;</div>


<!-- About -->

<div class="about-container" id="about"> 

  <div class="about-wrapper">

    <div class="about-paragraph">
      <h3 class="about-header">About</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque maxime hic dolorum ratione, quidem      architecto placeat odio esse alias amet ullam soluta, provident animi quos fugit eum aliquam      reprehenderit, modi aliquid libero quisquam! Libero vero, temporibus reiciendis nostrum nemo hic    deleniti repellat delectus et quisquam cum animi aspernatur, dolor veniam incidunt exercitationem.       Impedit blanditiis quaerat quis veniam ad eveniet ipsum quidem id perferendis non magni, sint       voluptate cumque quos fugit!<br><br>

            Impedit blanditiis quaerat quis veniam ad eveniet ipsum quidem id perferendis non magni, sint  voluptate cumque quos fugit! Impedit blanditiis quaerat quis veniam ad eveniet ipsum quidem id    perferendis non magni, sint voluptate cumque quos fugit!<br><br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat exercitationem incidunt    voluptatem autem maiores sequi ipsum deserunt, officia voluptatum beatae rerum dolorem corrupti   id! Adipisci, dicta. Modi dolorum eaque repellat illum ipsam exercitationem repudiandae assumenda    neque et tenetur, a iure?
          </p>
    </div>

        <div class="about-img-1"></div>
        <div class="about-img-4 hide-desktop show-tablet"></div>


    <div class="about-img2-container">
      <img src="../imgs/about-img.png" class="about-img2"alt="users"> 
    </div>
    <div class="about-paragraph">
      <h3>Our Users</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque maxime hic dolorum ratione, quidem architecto placet odio esse alias amet ullam soluta, provident animi quos fugit eum aliquam reprehenderit, modi aliquid libero quisquam! Libero vero, temporibus reiciendis nostrum nemo hic deleniti repellat delectus et quisquam cum animi aspernatur, dolor veniam incidunt exercitationem. Impedit blanditiis quaerat quis veniam ad eveniet ipsum quidem id perferendis non magni, sint voluptate cumque quos fugit!br><br><br>

        Impedit blanditiis quaerat quis veniam ad eveniet ipsum quidem id perferendis non magni, sint voluptate cumque quos fugit! Impedit blanditiis quaerat quis veniam ad eveniet ipsum quidem id perferendis non magni, sint voluptate cumque quos fugit!<br><br>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat exercitationem incidunt voluptatem autem maiores sequi ipsum deserunt, officia voluptatum beatae rerum dolorem corrupti id! Adipisci, dicta. Modi dolorum eaque repellat illum ipsam exercitationem repudiandae assumenda neque et tenetur, a iure?
      </p>
    </div>
   
    <div class="about-paragraph">
        <h3>Our Community</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque maxime hic dolorum ratione, quidem architecto placeat odio esse alias amet ullam soluta, provident animi quos fugit eum aliquam reprehenderit, modi aliquid libero quisquam! Libero vero, temporibus reiciendis nostrum nemo hic deleniti repellat delectus et quisquam cum animi aspernatur, dolor veniam incidunt exercitationem. Impedit blanditiis quaerat quis veniam ad eveniet ipsum quidem id perferendis non magni, sint voluptate cumque quos fugit!<br><br>       Impedit blanditiis quaerat quis veniam ad eveniet ipsum quidem id perferendis non magni, sint voluptate cumque quos fugit! Impedit blanditiis quaerat quis veniam ad eveniet ipsum quidem id perferendis non magni, sint voluptate cumque quos fugit!<br><br>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat exercitationem incidunt voluptatem autem maiores sequi ipsum deserunt, officia voluptatum beatae rerum dolorem corrupti id! Adipisci, dicta. Modi dolorum eaque repellat illum ipsam exercitationem repudiandae assumenda neque et tenetur, a iure?
      </p>
    </div>
    <div class="community-img-container">
        <img src="../imgs/about-img2.png" class="community-img"alt="community">
      </div>
   
    </div>
  </div>
</div>



<!-- gallery -->
        <section class="gallery-container" id="gallery">
            <h2 class="gallery-header">Gallery</h2>

            <div class="gallery-wrapper">

                <div class="card-image">
                  <div class="card-image-side card-image-side-front card-image-side-front-1">&nbsp;</div>
                    <div class="card-image-side card-image-side-back">
                      <div class="cta">
                        <img src="../imgs/artist1.png" alt="">
                        <div class="artist-description">
                          <ul class="artist-details">
                            <li>Name: Amy Wang</li>
                            <li>Age: 23</li>
                            <li>Location: New York</li>
                            <li>Tablet: Huion H430P</li>

                          </ul>
                          
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, ipsam fugit necessitatibus nostrum aperiam at?</p>

                          <a href="#"><button class="btn-check-work">Check Work</button></a>
                        </div>
                      </div>
                    </div>
                </div>

                  <div class="card-image">
                    <div class="card-image-side card-image-side-front card-image-side-front-2">&nbsp;</div>
                      <div class="card-image-side card-image-side-back">
                        <div class="cta">
                        <img src="../imgs/artist2.png" alt="">
                        <div class="artist-description">
                          <ul class="artist-details">
                            <li>Name: Maria Gimenez</li>
                            <li>Age: 28</li>
                            <li>Location: Madrid</li>
                            <li>Tablet: Wacom</li>

                          </ul>
                          
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, ipsam fugit necessitatibus nostrum aperiam at?</p>

                          <a href="#"><button class="btn-check-work">Check Work</button></a>
                        </div>
                      </div>
                      </div>
                  </div>

                    <div class="card-image">
                      <div class="card-image-side card-image-side-front card-image-side-front-3">&nbsp;</div>
                        <div class="card-image-side card-image-side-back">
                          <div class="cta">
                        <img src="../imgs/artist3.png" alt="">
                        <div class="artist-description">
                          <ul class="artist-details">
                            <li>Name: John Doe</li>
                            <li>Age: 30</li>
                            <li>Location: London</li>
                            <li>Tablet: Huion Pro 610</li>

                          </ul>
                          
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, ipsam fugit necessitatibus nostrum aperiam at?</p>

                          <a href="#"><button class="btn-check-work">Check Work</button></a>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

        </div>
    </section>
  </div>
</div>

<!--TABLET REVIEWS-->
<div class="tablet-container" id="tablet-container">
  <h2 class="text-center section-header">Tablet Reviews</h2>

  <div class="tablet-wrapper">

    <div class="tablet-card grow">
      <div class="tablet-image tablet-image-1">&nbsp;</div>
      <div class="tablet-description">
        <h4>Huion H430P</h4>
        <ul>
          <li>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i></li>
          <li>310 Reviews</li>
          <li>Top Users</li>
          <li class="top-users-container">
            <img src="../imgs/community1.png" alt="">
            <img src="../imgs/community3.png" alt="">
            <img src="../imgs/community2.png" alt="">
            <img src="../imgs/artist3.png" alt=""></li>
        </ul>
        <div class="btn-review-container">
        <a href="#" class="btn-info btn-review">Leave a Review</a>
      </div>
      </div>
    </div>

    <div class="tablet-card grow">
        <div class="tablet-image tablet-image-2">&nbsp;</div>
        <div class="tablet-description">
          <h4>HGW</h4>
          <ul>
            <li>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i></li>
            <li>400 Reviews</li>
            <li>Top Users</li>
            <li class="top-users-container">
              <img src="../imgs/community1.png" alt="">
              <img src="../imgs/artist2.png" alt="">
              <img src="../imgs/artist5.png" alt="">
              <img src="../imgs/artist6.png" alt=""></li>
          </ul>
  
          <div class="btn-review-container">
            <a href="#" class="btn-info btn-review">Leave a Review</a>
          </div>
          </div>
      </div>

      
      <div class="tablet-card grow">
          <div class="tablet-image tablet-image-3">&nbsp;</div>
          <div class="tablet-description">
            <h4>Huion Pro 610</h4>
            <ul>
              <li>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i></li>
              <li>350 Reviews</li>
              <li>Top Users</li>
              <li class="top-users-container">
                <img src="../imgs/community3.png" alt="">
                <img src="../imgs/community1.png" alt="">
                <img src="../imgs/artist4.png" alt="">
                <img src="../imgs/artist2.png" alt=""></li>
            </ul>
    
            <div class="btn-review-container">
              <a href="#" class="btn-info btn-review">Leave a Review</a>
            </div>
          </div>
        </div>

        <div class="tablet-card grow">
            <div class="tablet-image tablet-image-4">&nbsp;</div>
            <div class="tablet-description">
              <h4>Wacom</h4>
              <ul>
                <li>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i></li>
                <li>390 Reviews</li>
                <li>Top Users</li>
                <li class="top-users-container"><img src="../imgs/community1.png" alt="">
                  <img src="../imgs/community3.png" alt="">
                  <img src="../imgs/community2.png" alt="">
                  <img src="../imgs/artist3.png" alt=""></li>
              </ul>
      
              <div class="btn-review-container">
                <a href="#" class="btn-info btn-review">Leave a Review</a>
              </div>
            </div>
          </div>
      
  </div>
</div>

<!--COMMUNITY-->
<section>

<div class="community-container"> 
    <div class="bg-video">
    <video class="bg-video-content" autoplay muted loop>
        <source src="../imgs/Designer.mp4" type="video/mp4">
            Your browser is not supported
    </video>
</div>
  <h1 class="community-header">Community</h1>
  <div class="community-wrapper">

    <div class="community-box grow2">
      <img src="../imgs/community1.png" class="community-image image-fluid" alt="community image 1">
      <blockquote class="blockquote text-center"><p class="grey-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
      <p class="blue-text"><strong>Tim Lee, L.A., U.S.</strong></p></blockquote>
    </div>

    <div class="community-box grow2">
      <img src="../imgs/community2.png" class="community-image image-fluid" alt="community image 2">
      <blockquote class="blockquote grey-text text-center"><p class="grey-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
      <p class="blue-text"><strong>Ana M. Mendoza, Vigo, SP </strong></p></blockquote>
      </div>


            <div class="community-box grow2">
              <img src="../imgs/community3.png" class="community-image image-fluid" alt="community image">
              <blockquote class="blockquote grey-text text-center"><p class="grey-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
              <p class="blue-text"><strong>Mirtel Tamm, Tallin, EST</strong></p></blockquote>
            </div>

            <div class="community-box grow2">
              <img src="../imgs/community4.png" class="community-image image-fluid" alt="community image">
              <blockquote class="blockquote grey-text text-center"><p class="grey-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
              <p class="blue-text"><strong>Jussi Heikkinen, Jyvaskyla, FI</strong></p></blockquote>
            </div>
            </div>


</div>
</section>


<div class="sign-up-container" id="sign-up-container">

      <div class="sign-up-wrapper">
        <h1 class="sign-up-header">Ready to share your work?</h1>
        <h2 class="sign-up-subheader">Join a great community of digital artist!</h2> 
        <button type="button" class="btn-sign-up">SIGN UP</button>
      </div>

    </div>

<div class="back-to-box">
  <a href="../../index.html" class="btn-back-to-portfolio">&larr;Back to portfolio page</a>

</div>

<!-- Button that goes back to top -->
  <button onclick="topFunction()" class="btn-back-to-top" id="myBtn" title ="Go to Top">
    <img src="../imgs/Up arrow small.png"></button>


</div>

<footer class="dark-footer">
  <div class="dark-footer-wrapper">
    <div class="dark-footer-wrapper-left">
        <img src="../imgs/footer_logo.png" class="footer-logo" alt="footer logo">
          <p class="all-rights-paragraph">All Art By Michele Zucca</p>
      </div>

        <div class="social-icons-container-right">
          <img src="../imgs/Facebook@2x.png"  class ="social-img" alt="facebook">
          <img src="../imgs/Instagram@2x.png" class ="social-img" alt="instagram">
          <img src="../imgs/Twitter@2x.png" class ="social-img" alt="twitter">
        </div>
      </div>
    </div>

    </div>

</footer>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U=" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/108/three.min.js" integrity="sha256-3mBEX8I0uMLF7+AUjJeTCelosuorzYpqwBMBPDTyQqY=" crossorigin="anonymous"></script>
 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U=" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha256-fIkQKQryItPqpaWZbtwG25Jp2p5ujqo/NwJrfqAB+Qk=" crossorigin="anonymous"></script>
<script src="../js/hover.js"></script>
<script src="../js/script.js"></script>


</body>
</html>


