<%- include("../partials/header") %>

<div style="padding: 20rem 40rem">
<form class="ui form" method="POST" action="/galleries" enctype="multipart/form-data">
  <h2>Add a New Item to Your Collection!</h2>
    <div class="field">
      <label>Name</label>
      <input type="text" name="name" placeholder="name">
    </div>
    <div class="field">
    <label for="image">Image Upload</label>
        <input type="file" id="image" name="image" accept="image/*" required>
    </div>
    <div class="field">
        <label>Description</label>
        <input type="text" name="description" placeholder="insert description">
      </div>
  
    <button class="ui primary button" type="submit">Submit</button>
  </form>

</div>

  <%- include("../partials/footer") %>
